<div>
<!-- 	<h3 data-i18n="changepassword.title">Change password</h3> -->
	<p class="pb-3 nimble-title" data-i18n="changepassword.title">Change password</p>

	<form class="form-horizontal ng-invalid" name="form" role="form" ng-submit="sendPassword()" data-ng-init="init()">
	
		<div>
	  		<div class="card-block">
	  			<div class="form-group row">
			  		<label for="firstname" class="col-2 col-form-label" data-i18n="changepassword.old">Old password</label>
			  		<div class="col-10">
			  			<input type="password" class="form-control" id="password_old" ng-model="passwordOld" value="{{passwordOld}}" pattern=".{4,}" required ng-reflect-pattern=".{6,}" ng-reflect-name="password">
			  		</div>
				</div>
				
				<div class="form-group row">
			  		<label for="firstname" class="col-2 col-form-label" data-i18n="changepassword.new">New password</label>
			  		<div class="col-10">
			  			<input type="password" class="form-control" id="password_new1" ng-model="passwordNew1" value="{{passwordNew1}}" pattern=".{4,}" required ng-reflect-pattern=".{6,}" ng-reflect-name="password">
			  		</div>
				</div>
				
				<div class="form-group row">
			  		<label for="firstname" class="col-2 col-form-label" data-i18n="changepassword.repeat">Repeat new password</label>
			  		<div class="col-10">
			  			<input type="password" class="form-control" id="password_new2" ng-model="passwordNew2" value="{{passwordNew2}}" pattern=".{4,}" required ng-reflect-pattern=".{6,}" ng-reflect-name="password">
			  		</div>
				</div>
	   		</div>
	   	
	   	</div>
	   	
	   	<hr/>
		
		<button class="btn btn-primary action" ng-disabled="form.$invalid" data-i18n="buttons.change" type="submit">Change</button>
		
		<div id="alert-error" class="alert alert-danger space-before collapse" role="alert">{{msg}}</div>
		<div id="alert-success" class="alert alert-success space-before collapse" role="alert">{{msg}}</div>
	
	</form>
</div>
