<h3 data-i18n="registration.title">Sign Up</h3>

<form class="form-horizontal ng-invalid" name="form" role="form" ng-submit="sendData()" data-ng-init="init()">
	
	<div class="card">
		<div class="card-block">
			<div class="form-group row">
		  		<label for="email" class="col-2 col-form-label">
		  			<span data-i18n="user.email">Email</span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="email" ng-model="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="" ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-name="email" type="email">
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="firstname" class="col-2 col-form-label">
		  			<span data-i18n="user.firstname">Firstname</span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="firstname" ng-model="user.firstname" required>
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="lastname" class="col-2 col-form-label">
		  			<span data-i18n="user.lastname">Lastname</span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="lastname" ng-model="user.lastname" required>
		  		</div>
			</div>
			
			<div class="form-group row">
		  		<label for="company" class="col-2 col-form-label">
		  			<span data-i18n="user.company">Company</span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="company" ng-model="user.company" required>
		  		</div>
			</div>
			
			<div class="form-group row">
		  		<label for="comments" class="col-2 col-form-label" data-i18n="user.comments">Comments</label>
		  		<div class="col-10">
		  			<textarea class="form-control" id="comments" rows="3" ng-model="comments"></textarea>
		  		</div>
			</div>
		</div>
	</div>
	
	<hr/>
	
	<button class="btn btn-secondary space-left" ng-disabled="form.$invalid" data-i18n="buttons.register" type="submit" ng-reflect-disabled="true" disabled="disabled">Sign Up</button>

	<div id="alert-error" class="alert alert-danger space-before collapse" role="alert">{{msg}}</div>
	<div id="alert-success" class="alert alert-success space-before collapse" role="alert">{{msg}}</div>

	
</form>