<div>
	<p class="pb-3 nimble-title" data-i18n="registration.title">Sign Up</p>
	
	<form class="form-horizontal ng-pristine ng-invalid" name="form" ng-submit="sendData()" novalidate="" data-ng-init="init()">
		<div>
			<div class="form-group row">
		  		<label for="email" class="col-2 col-form-label">
		  			<span data-i18n="user.email">Email</span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input class="form-control ng-untouched ng-pristine ng-invalid" id="email" ng-model="user.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9._-]+\.[a-z]{2,3}$" required ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-name="email" type="email">
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="firstname" class="col-2 col-form-label">
		  			<span data-i18n="user.firstname"></span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control ng-untouched ng-pristine ng-invalid" id="firstname" name="firstname" ng-model="user.firstname" required ng-reflect-name="email">
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="lastname" class="col-2 col-form-label">
		  			<span data-i18n="user.lastname"></span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control ng-untouched ng-pristine ng-invalid" id="lastname" name="lastname" ng-model="user.lastname" required ng-reflect-name="lastname">
		  		</div>
			</div>
			
			<div class="form-group row">
		  		<label for="company" class="col-2 col-form-label">
		  			<span data-i18n="user.company"></span>&nbsp;<span>*</span>
		  		</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control ng-untouched ng-pristine ng-invalid" id="company" name="company" ng-model="user.company" required ng-reflect-name="company">
		  		</div>
			</div>
			
			<div class="form-group row">
		  		<label for="comments" class="col-2 col-form-label" data-i18n="user.comments"></label>
		  		<div class="col-10">
		  			<textarea class="form-control" id="comments" name="comments" rows="3" ng-model="comments" ng-reflect-name="comments"></textarea>
		  		</div>
			</div>
		</div>
		
		<hr/>
		
		<button class="btn btn-primary action" type="submit" disabled="disabled" data-i18n="buttons.register" ng-disabled="form.$invalid" ng-reflect-disabled="true"></button>
	
		<div id="alert-error" class="alert alert-danger space-before collapse" role="alert">{{msg}}</div>
		<div id="alert-success" class="alert alert-success space-before collapse" role="alert">{{msg}}</div>
	</form>

</div>