<script>
	var dateFormat = "dd-mm-yyyy";
</script>

<form class="form-horizontal" ng-submit="searchDocuments()" data-ng-init="init()" id="formSearch">

	<div class="btn-group-wrap">
		<div class="btn-group" role="group" aria-label="Document type">
<!-- 			<button id="btn{{dt.value}}" ng-repeat="dt in optionsDocumentType" type="button" class="btn btn-secondary" ng-click="setVisibleCard(dt.value)" data-i18n="buttons.{{dt.label}}">{{dt.label}}</button> -->
			<button id="btn0" type="button" class="btn btn-secondary" ng-click="setVisibleCard('0')" data-i18n="buttons.Regulation">Regulation</button>
			<button id="btn1" type="button" class="btn btn-secondary" ng-click="setVisibleCard('1')" data-i18n="buttons.Legislation">Legislation</button>
			<button id="btn3" type="button" class="btn btn-secondary" ng-click="setVisibleCard('3')" data-i18n="buttons.Sectorialreport">Sectorial report</button>
		</div>
		
		<button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseSearchOptions" aria-expanded="false" aria-controls="collapseSearchOptions">
    		<img class="inline-icon" src="img/options_black.png"> <span data-i18n="buttons.searchoptions">Search options</span>
  		</button>  		
	</div>
	
	<div class="collapse" id="collapseSearchOptions">
  		<div class="card card-block">
			<div class="form-check">
				<label class="form-check-label">
			    	<input ng-model="ormode" class="form-check-input" type="radio" name="radioMode" id="radio1" ng-value="false" checked>
			    		Get documents that match <b>all</b> the entered fields
			  	</label>
			</div>
			<div class="form-check">
			  	<label class="form-check-label">
			    	<input ng-model="ormode" class="form-check-input" type="radio" name="radioMode" id="radio2" ng-value="true">
			    		Get documents that match <b>some</b> of the entered fields
			  	</label>
			</div>
  		</div>
	</div>
	
	<hr/>
<!--  	<span>LAN={{sLan}}</span> -->

	<!-- CARD BASIC INFORMATION -->
	<div class="card">
		<div class="card-block">
			<h5 class="card-title"><span data-i18n="search.basicinformation">BASIC INFORMATION</span></h5>
		
			<div class="form-group row">
		  		<label for="name" class="col-2 col-form-label" data-i18n="search.code">Code</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="code" ng-model="search.mainAttr.code">
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="name" class="col-2 col-form-label" data-i18n="search.title">Title</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="title" ng-model="search.mainAttr.title">
		  		</div>
			</div>
		
			<div class="form-group row">
		  		<label for="description" class="col-2 col-form-label" data-i18n="search.description">Description</label>
		  		<div class="col-10">
		  			<input type="text" class="form-control" id="description" ng-model="search.mainAttr.description">
		  		</div>
			</div>
			
			<div class="form-group row">
    			<div class="col-sm-6">
        			<label for="datepickerEntryFrom" data-i18n="search.datefrom">Date from</label>
        			
					<div class="input-group date" id="datepickerEntryFrom">
		      			<input type="text" class="form-control" ng-model="search.mainAttr.dateEntryFrom">
		      			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    		</div>
					<script type="text/javascript">
					    $('#datepickerEntryFrom').datepicker({
 					    	format: dateFormat
		    			});
					</script>
    			</div>
    			<div class="col-sm-6">
        			<label for="datepickerEntryTo" data-i18n="search.dateto">Date to</label>
	        		
					<div class="input-group date" id="datepickerEntryTo">
		      			<input type="text" class="form-control" ng-model="search.mainAttr.dateEntryTo">
		      			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    		</div>
					<script type="text/javascript">
					    $('#datepickerEntryTo').datepicker({
					    	format: dateFormat,
					    	language: "es"
		    			});
					</script>
    			</div>
			</div>
			
		</div>
	</div>
	
	<hr/>
	
	
	<div id="cardContainer">
	
		<!-- CARD NORMATIVA -->
		<div class="card hide" id="cardAttr0">
			<div class="card-block">
				<h5 class="card-title" data-i18n="search.regulation.properties">NORMATIVE ATTRIBUTES</h5>
			
				<div class="form-group row">			  		
			  		<label for="regulationType" class="col-2 col-form-label icon" data-i18n="search.regulation.regulationtype" data-toggle="collapse" data-target="#collapseRegulationTypeInfo">Regulation type</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="regulationType" ng-model="search.specAttr.regulationType">
			  		</div>
				</div>
				
				<div class="collapse" id="collapseRegulationTypeInfo">
					<div class="table-responsive">
						<table class="table table-striped">
					    	<tbody>
					    		<tr>
      								<th scope="row">UNE</th>
      								<td>Una Norma Española</td>
      								<td>Spain</td>
      								<td data-i18n="une-description">
      									This is a collection of norms, experimental norms and reports (standards) created in the 
      									'Comités Técnicos de Normalización' (CTN) of the 'Asociación Española de Normalización y Certificación' (AENOR)
      								</td>
    							</tr>
    							<tr>
							      	<th scope="row">UNE-EN</th>
							      	<td>Official version in Spanish of a European norm</td>
							      	<td>Spain / European Union</td>
							      	<td data-i18n="une-en-description">
							      		When some European or International norm is officially adopted in Spain, the preffix UNE is added to the codification
							      	</td>
							    </tr>
							    <tr>
							      	<th scope="row">ISO</th>
							      	<td>International Organization for Standardization</td>
							      	<td>International</td>
							      	<td data-i18n="iso-description">
							      		The International Organization for Standardization (ISO) is an organization for the creation
							      		of international standards formed by different national standardisation bodies. Main offices at Geneva, Switzerland
							      	</td>
							    </tr>
							    <tr>
							      	<th scope="row">ASTM</th>
							      	<td>American Society for Testing and Materials</td>
							      	<td>International</td>
							      	<td data-i18n="astm-description">
							      		ASTM international is an organization of international norms that develops and publishes voluntary agreements
							      		of technical norms for a wide range of materials, products, systems and services. Main offices at USA
							      	</td>
							    </tr>
							    <tr>
							    	<th scope="row">ANSI</th>
							      	<td>American National Standards Institute</td>
							      	<td>USA</td>
							      	<td data-i18n="ansi-description">
							      		ANSI is a nonprofit organization that monitors the development of standards for products, services, processes
							      		and systems in the United States of America
							      	</td>
							    </tr>
  							</tbody>
					  	</table>
					</div>
				</div>
				
				
				<div class="form-group row">
			  		<label for="regulationNumber" class="col-2 col-form-label" data-i18n="search.regulation.regulationnumber">Regulation number</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="regulationNumber" ng-model="search.specAttr.regulationNumber">
			  		</div>
				</div>
				
				<div class="form-group row">
			  		<label for="descriptors" class="col-2 col-form-label" data-i18n="search.descriptors">Descriptors</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="descriptors0" ng-model="search.specAttr.descriptors0">
			  		</div>
				</div>
				
			</div>
		</div>
		
		<!-- CARD LEGISLACIÓN -->
		<div class="card hide" id="cardAttr1">
			<div class="card-block">
				<h5 class="card-title" data-i18n="search.legislation.properties">LEGISLATION ATTRIBUTES</h5>
				
				<div class="form-group row">
			  		<label for="descriptors" class="col-2 col-form-label" data-i18n="search.descriptors">Descriptors</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="descriptors1" ng-model="search.specAttr.descriptors1">
			  		</div>
				</div>
			</div>
		</div>
		
		
		<!-- CARD PATENTES -->
<!-- 		<div class="card hide" id="cardAttr2"> -->
<!-- 			<div class="card-block"> -->
<!-- 				<h5 class="card-title">PATENT ATTRIBUTES</h5> -->
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="patentCode" class="col-2 col-form-label">Patent code</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input type="text" class="form-control" id="patentCode" ng-model="search.specAttr.patentCode"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="descriptors" class="col-2 col-form-label">Descriptors</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input type="text" class="form-control" id="descriptors2" ng-model="search.specAttr.descriptors2"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="company" class="col-2 col-form-label">Company</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input type="text" class="form-control" id="company" ng-model="search.specAttr.company"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="descriptors" class="col-2 col-form-label">Geographic scope</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<select class="form-control" id="geographicScope" ng-model="search.specAttr.geographicScope"> -->
<!-- 			  				<option value=""></option> -->
<!-- 		    				<option ng-repeat="gs in optionsGeographicScope" value="{{gs}}">{{gs}}</option> -->
<!-- 		    			</select> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="descriptors" class="col-2 col-form-label">Countries of interest</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<select class="form-control" id="countriesOfInterest" ng-model="search.specAttr.countriesOfInterest"> -->
<!-- 			  				<option value=""></option> -->
<!-- 		    				<option ng-repeat="ci in optionsCountriesOfInterest" value="{{ci}}">{{ci}}</option> -->
<!-- 		    			</select> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
<!-- 			</div> -->
<!-- 		</div> -->
		
		
		<!-- CARD INFORMES SECTORIALES -->
		<div class="card hide" id="cardAttr3">
			<div class="card-block">
				<h5 class="card-title" data-i18n="search.sectorialreport.properties">SECTORIAL REPORT ATTRIBUTES</h5>
				
				<div class="form-group row">
			  		<label for="authors" class="col-2 col-form-label" data-i18n="search.sectorialreport.authors">Authors</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="authors" ng-model="search.specAttr.authors">
			  		</div>
				</div>
				
				<!-- DATE OF DOCUMENT -->
				<div class="form-group row">
	    			<div class="col-sm-6">
	        			<label for="datepickerDateOfDocumentFrom" data-i18n="search.sectorialreport.dateofdocumentfrom">Date of document from</label>
	        			
						<div class="input-group date" id="datepickerDateOfDocumentFrom">
			      			<input type="text" class="form-control" ng-model="search.specAttr.dateOfDocumentFrom">
			      			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			    		</div>
						<script type="text/javascript">
						    $('#datepickerDateOfDocumentFrom').datepicker({
	 					    	format: dateFormat
			    			});
						</script>
	    			</div>
	    			<div class="col-sm-6">
	        			<label for="datepickerDateOfDocumentTo" data-i18n="search.sectorialreport.dateofdocumentto">Date of document to</label>
		        		
						<div class="input-group date" id="datepickerDateOfDocumentTo">
			      			<input type="text" class="form-control" ng-model="search.specAttr.dateOfDocumentTo">
			      			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			    		</div>
						<script type="text/javascript">
						    $('#datepickerDateOfDocumentTo').datepicker({
						    	format: dateFormat
			    			});
						</script>
	    			</div>
				</div>
				
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="country" class="col-2 col-form-label" data-i18n="search.country">Country</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input type="text" class="form-control" id="country" ng-model="search.specAttr.country"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				
				<div class="form-group row">
			  		<label for="descriptors" class="col-2 col-form-label" data-i18n="search.descriptors">Descriptors</label>
			  		<div class="col-10">
			  			<input type="text" class="form-control" id="descriptors3" ng-model="search.specAttr.descriptors3">
			  		</div>
				</div>
			</div>
		</div>
		
		<hr>
		
		<button class="btn btn-secondary space-left" data-i18n="buttons.searchdocuments" type="submit">Search documents</button>
	
	</div>
	

	<div id="alert-error" class="alert alert-danger space-before collapse" role="alert">{{msg}}</div>
	<div id="alert-success" class="alert alert-success space-before collapse" role="alert">{{msg}}</div>
	
	<hr/>
	
	<div class="card hide" id="cardResults">
		<div class="card-block">
			<h5 class="card-title"><span>{{results.length}}</span> <span data-i18n="search.found">DOCUMENTS FOUND</span></h5>
			
			<div class="form-group row">
		  		<label for="sortby" class="col-2 col-form-label" data-i18n="search.sortby">SORT BY</label>
		  		<div class="col-10">
		  			<select class="form-control" id="geographicScope" ng-model="sortByAttr" ng-change="sortResults()">
	    				<option ng-repeat="asb in optionsAttrbsToSortBy" value="{{asb}}">{{asb}}</option>
	    			</select>
		  		</div>
			</div>

			<div class="form-group row">
		  		<div class="col-12">
		  			<div class="table-responsive">
						<table class="table table-bordered table-condensed table-hover">
							<tr class="info">
								<th data-i18n="search.results.type">TYPE</th>
								<th data-i18n="search.results.code">CODE</th>
								<th data-i18n="search.results.title">TITLE</th>
								<th data-i18n="search.results.date">DATE</th>
								<th></th>
							</tr>
							
							<tr ng-model="filteredResults" id="{{elemfr.mainAttr.documentId}}" ng-repeat="elemfr in filteredResults">
								<td class="tableCell"><img height="47" ng-src="img/icon-doctype-{{selectedDocumentType}}.png" title={{showDocumentType(selectedDocumentType)}}></td>
								<td class="tableCell">{{elemfr.mainAttr.code}}</td>
								<td class="tableCell" title="{{elemfr.mainAttr.title}}" ng-click="loadDocumentDetails(elemfr.mainAttr.documentId)">{{truncateText(elemfr.mainAttr.title)}}</td>
								<td class="tableCell">{{formatOutDate(elemfr.mainAttr.dateEntry)}}</td>
								<td class="tableCell"><img height="47" ng-src="img/icon-newtab.png" title="Open in new tab" ng-click="openDocumentTab(selectedDocumentType, elemfr.mainAttr.documentId)"></td>
							</tr>
						</table>
					</div>
		  		</div>
			</div>
			
			<div class="center-block">
<!--  				<ul class="pagination" uib-pagination boundary-links="true" max-size="numVisiblePages" total-items="results.length" ng-model="currentPage" items-per-page="numPerPage" first-text="{{pagText.first}}" last-text="{{pagText.last}}" next-text="{{pagText.next}}" previous-text="{{pagText.previous}}"></ul> -->
				<ul class="pagination" uib-pagination boundary-links="true" max-size="numVisiblePages" total-items="results.length" ng-model="currentPage" items-per-page="numPerPage" first-text="<<" last-text=">>" next-text=">" previous-text="<"></ul>
			</div>

		</div>
		
		<hr/>
		<button class="btn btn-secondary space-left" type="button" ng-click="scrollToSearch()" data-i18n="buttons.backtosearch">Back to search</button>
		<hr/>		
	</div>
	
	<hr/>

	<div class="card hide bg-light text-dark mb-3" id="cardDocumentDetails">
		<div class="card-block">
			<h5 class="card-title" data-i18n="search.docdetails">DOCUMENT DETAILS</h5>

			<div class="form-group row">
		  		<div class="col-12">
		  			<div class="alert alert-warning space-before" role="alert"><span data-i18n="search.selecteddoc">Selected document:</span> {{selectedDocumentId}}</div>
		  		</div>
			</div>
			<div class="form-group row">
		  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.code">Code</label>
		  		<div class="col-10">
		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.mainAttr.code">
		  		</div>
			</div>
			<div class="form-group row">
		  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.title">Title</label>
		  		<div class="col-10">
		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.mainAttr.title" title="{{selectedDocument.mainAttr.title}}">
		  		</div>
			</div>
			<div class="form-group row">
		  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.description">Description</label>
		  		<div class="col-10">
<!-- 		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.mainAttr.description" title="{{selectedDocument.mainAttr.description}}"> -->
		  			<textarea readonly class="form-control" ng-model="selectedDocument.mainAttr.description" rows="2">{{selectedDocument.mainAttr.description}}</textarea>
		  		</div>
			</div>
			<div class="form-group row">
		  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.dateentry">Date Entry</label>
		  		<div class="col-10">
		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.mainAttr.dateEntry">
		  		</div>
			</div>
<!-- 			<div class="form-group row"> -->
<!-- 		  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.regulation.dateupdate">Date Update</label> -->
<!-- 		  		<div class="col-10"> -->
<!-- 		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.mainAttr.dateUpdate"> -->
<!-- 		  		</div> -->
<!-- 			</div> -->
			
			<!-- DETAILS REGULATION -->
			<div id="detailsChunk0" class="d-none">
				<div class="form-group row">
			  		<label for="regulationType" class="col-2 col-form-label" data-i18n="search.regulation.regulationtype">Regulation type</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.regulationType">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="regulationNumber" class="col-2 col-form-label" data-i18n="search.regulation.regulationnumber">Regulation number</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.regulationNumber">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="technicalCommittee" class="col-2 col-form-label icon" data-i18n="search.regulation.technicalcommittee" data-toggle="collapse" data-target="#collapseTechnicalCommittee">Technical Committee</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.technicalCommittee">
			  		</div>
				</div>
				<div class="collapse" id="collapseTechnicalCommittee">
					<div class="table-responsive">
						<table class="table table-striped">
					    	<tbody>
					    		<tr>
      								<th scope="row">CTN</th>
      								<td>Comité técnico de normalización</td>
    							</tr>
    							<tr>
							      	<th scope="row">CEN</th>
							      	<td>European Committee for Standardization</td>
							    </tr>
  							</tbody>
					  	</table>
					</div>
				</div>
				<div class="form-group row">
			  		<label for="editingDate" class="col-2 col-form-label" data-i18n="search.regulation.editingdate">Editing Date</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.editingDate">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="numOfPages" class="col-2 col-form-label" data-i18n="search.regulation.numofpages">Num. of Pages</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.numOfPages">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="language" class="col-2 col-form-label" data-i18n="search.regulation.language">Language</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.language">
			  		</div>
				</div>
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="country" class="col-2 col-form-label" data-i18n="search.country">Country</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.country"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
				<div class="form-group row">
			  		<label for="identifyEN" class="col-2 col-form-label" data-i18n="search.regulation.identifyen">Identify EN</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.identifyEN">
			  		</div>
				</div>
			</div>
			
			
			<!-- DETAILS LEGISLATION -->
			<div id="detailsChunk1" class="d-none">
				<div class="form-group row">
			  		<label for="legalAssessment" class="col-2 col-form-label" data-i18n="search.legislation.legalassessment">Legal assessment</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.legalAssessment">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="link" class="col-2 col-form-label" data-i18n="search.link">Link</label>
			  		<div class="col-10">
<!-- 			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.link"> -->
			  			<a href="{{selectedDocument.specAttr.link}}" target="_blank">{{selectedDocument.specAttr.link}}</a>
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="country" class="col-2 col-form-label" data-i18n="search.country">Country</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.country">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="publicationDate" class="col-2 col-form-label" data-i18n="search.legislation.publicationdate">Publication date</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.publicationDate">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="documentOrigin" class="col-2 col-form-label" data-i18n="search.legislation.originofdocument">Origin of document</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.documentOrigin">
			  		</div>
				</div>
			</div>
			
			
			<!-- DETAILS PATENT -->
<!-- 			<div id="detailsChunk2" class="d-none"> -->
<!-- 				<div class="form-group row"> -->
<!-- 			  		<label for="date" class="col-2 col-form-label">Date</label> -->
<!-- 			  		<div class="col-10"> -->
<!-- 			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.date"> -->
<!-- 			  		</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			
			<!-- DETAILS REPORT -->
			<div id="detailsChunk3" class="d-none">
				<div class="form-group row">
			  		<label for="authors" class="col-2 col-form-label" data-i18n="search.sectorialreport.authors">Authors</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.authors">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="dateOfDocument" class="col-2 col-form-label" data-i18n="search.sectorialreport.dateofdocument">Date Of Document</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.dateOfDocument">
			  		</div>
				</div>
				<div class="form-group row">
			  		<label for="country" class="col-2 col-form-label" data-i18n="search.country">Country</label>
			  		<div class="col-10">
			  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.country">
			  		</div>
				</div>
			</div>
			
			<div class="form-group row">
		  		<label for="descriptors" class="col-2 col-form-label" data-i18n="search.descriptors">Descriptors</label>
		  		<div class="col-10">
		  			<input readonly type="text" class="form-control" ng-model="selectedDocument.specAttr.descriptors">
		  		</div>
			</div>

			<!-- Temporary file download -->
			<div ng-if="selectedDocumentId==95353" class="form-group row">
				<div class="col-12">
					<span data-i18n="search.link">Link to document</span>&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="doctmp/atcm-final.pdf"><img height="67" src="img/download.png"></a>
				</div>
			</div>
			<div ng-if="selectedDocumentId==22286" class="form-group row">
				<div class="col-12">
					<span data-i18n="search.link">Link to document</span>&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="FINAL RULE-EPA-HQ-OPPT-2016-0461-0001.pdf"><img height="67" src="img/download.png"></a>
				</div>
			</div>
			<!-- End Temporary file download -->


			
			<div ng-switch on="downloadLink" class="form-group row">
			    <div ng-switch-when="empty" class="col-12">
					<span>&nbsp;&nbsp;&nbsp;</span>
			    </div>
			    <div ng-switch-default class="col-12">
			        <span data-i18n="search.link">Link to document</span>&nbsp;&nbsp;&nbsp;
					<a title="{{downloadLink}}" target="_blank" href="{{downloadLink}}"><img height="67" src="img/download.png"></a>
			    </div>
			</div>
			
		</div>
		
		<hr/>
		<button class="btn btn-secondary space-left" type="button" ng-click="scrollToSearch()" data-i18n="buttons.backtosearch">Back to search</button>
		<hr/>
	</div>
	

</form>
